h1 {
    color: yellow;
    text-align: center;
    
}

.picture-header {
    width: 100px;
    height: 100px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 45vw;
    display: inline;
}

.pacman {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    display: block;

}

.pacman-container {
    height: 100vh;

}

.ghost {
    height: 100px;
    width: 100px;

}

.cherry {
    height: 100px;
    width: 100px;

}

body {
    background-image: url("/images/fondo-pacman.jpg")
    
}
